{{- if .Values.config.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "rustfs.fullname" . }}-config
  labels:
    {{- include "rustfs.labels" . | nindent 4 }}
data:
  RUSTFS_ADDRESS: {{ .Values.config.address | default (printf ":%d" (include "rustfs.apiPort" . | int)) | quote }}
  RUSTFS_CONSOLE_ADDRESS: {{ .Values.config.consoleAddress | default (printf ":%d" (include "rustfs.consolePort" . | int)) | quote }}
  RUSTFS_CONSOLE_ENABLE: {{ .Values.config.consoleEnable | default "true" | quote }}
  {{- if .Values.config.corsAllowedOrigins }}
  RUSTFS_CORS_ALLOWED_ORIGINS: {{ .Values.config.corsAllowedOrigins | quote }}
  {{- end }}
  {{- if .Values.config.consoleCorsAllowedOrigins }}
  RUSTFS_CONSOLE_CORS_ALLOWED_ORIGINS: {{ .Values.config.consoleCorsAllowedOrigins | quote }}
  {{- end }}
  RUSTFS_LOG_LEVEL: {{ .Values.config.logLevel | default "info" | quote }}
  RUSTFS_OBS_LOG_DIRECTORY: {{ include "rustfs.logDirectory" . | quote }}
  RUSTFS_OBS_LOG_ROTATION_SIZE_MB: {{ .Values.config.logRotationMaxMBSize | default "100Mi" | quote }}
  RUSTFS_OBS_LOG_KEEP_FILES: {{ .Values.config.logMaxCount | default 2 | quote }}
  RUSTFS_VOLUMES: {{ include "rustfs.volumesPattern" . | quote }}
  {{- if .Values.config.extraConfig }}
  {{- toYaml .Values.config.extraConfig | nindent 2 }}
  {{- end }}
{{- end }}
